* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.sidebar {
  grid-area: sidebar;
  background-color: #1992d3;
  display: grid;
}

.sidebar .menu li {
  color: white;
}

.header {
  grid-area: header;
  display: grid;
}

.content {
  grid-area: content;
  display: grid;
}
